.dashboard
{
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}
.dashboard h2
{
  margin-top: 60px;
  color: white;
  letter-spacing: 8px;
  font-weight: 800;
  padding-top: 30px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 100px;
  font-weight: normal;
}

.button 
{
  font-size: 15px;
  font-family: "Inter", "sans-serif";
  font-weight: 600;
  background-color: #e8e8e8;
  color: #04243D;
  border: none;
  top: 240px; /* Y-coordinate */
  left: 451px; /* X-coordinate */
  width: 200px; /* Width */
  height: 100px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 50px;
}

.button:hover {
  background-color: #033c69;
  color: #e8e8e8;
}

