.login-container {
  display: block;
  text-align:center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url('https://img1.wsimg.com/isteam/ip/9823cc75-e414-4f2c-a90b-3d89a05fec57/utube%20banner.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25'); 
  background-repeat: no-repeat;
}

.wrap-login100 {
  width: 390px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #111111;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: 0 0;
  padding: 0 5px;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  margin-bottom: 2%;
}

.wrap-login100 input {
  outline: none;
  border: none;
}
.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-container input{
  margin-bottom:10px;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.wrap-login100 button:hover {
  cursor: pointer;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}
.wrap-login100 button {
  outline: none!important;
  border: none;
  background: 0 0;
}

.login-container .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

/* CSS */
.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
