.new-admin-container{
    margin: 0 20.9rem;
    min-width: 10.2rem;
}

.new-admin-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 1.6rem;
}

.new-admin-main-content{
    background-color: #00579a;
}

.new-admin-main-content .form{
    padding: 10vh 22vw;

}

.new-admin-main-content .form form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 12px;
    margin: auto;
    gap: 12px;
}

.new-admin-main-content .form form div{
    display: flex;
    justify-content: space-between;
}


