.new-transaction-container{
    margin: 0 20.9rem;
    min-width: 10.2rem;
}

.new-transaction-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 1.6rem;
}

.new-transaction-main-content{
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #00579a;
}

.dropdown, .dropdown .select{
    border: 1px solid black;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 4vh auto;
    padding: 8px;
    text-align: left;
}

.dropdown .select{
    margin: 0;
    gap: 10px;
    border: none;
}

.dropdown .student-info{
    padding: 10px;
}

.dropdown .student-info div:last-child{
    border-bottom: 1px solid black;
}