.studentaccounts-container{
  margin: 0 20.9rem;
  min-width: 10.2rem;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 1.6rem;
}

.header h2{
  margin: auto;
}

.studentaccounts-main-content{
  display: flex;
  flex-direction: column;
  background-color: #00579a;
  border-radius: 10px;
  text-align: center;
}

.studentaccounts-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.studentaccounts-header button{
  margin: 14px;
  padding: 8px;
}

.studentaccounts-header input{
  margin: 16px;
}

th {
  padding: 10px;
  border-collapse: separate;
  color: white;
  font-size: 17px;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px; /* Adjust the vertical spacing between rows */
  margin: 10px;
  letter-spacing: 1px;
  
}

td {
  border-top: 1px solid black; /* Example border */
  padding: 15px;
  background-color: white;
  margin: 10px;
}

button {
  margin-right: 5px;
}