.studentaccount-items{
    display: flex;
    flex-direction: row;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
    padding: 0.9rem;
    gap: 15px;
    font-size: 18px;
    text-indent: 30px;
    
}

.studentaccount-items .buttons{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-left: auto;
    padding: 1
}