footer {
    background-color: #033c69;
    padding: 20px;
    position: fixed;
    bottom: 0; 
    width: 100%;
    box-shadow: 0 -14px 17px rgba(0, 0, 0, 0.1);
  }
  
  footer p {
    margin: 0;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 70px;
    text-align: right;
  }
  
  footer p:hover {
    text-decoration: underline;
  }
  
  .logout-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px; 
    vertical-align: middle; /* Align the icon vertically with text */
    display: inline-block; /* Make the logout icon an inline-block */
    /* float: right; Float the icon to the right */
  }
  /* 
  @media screen and (min-width: 1200px) {
    .user-name h1 {
      font-size: 24px; /* Increase font size for computers */
    /* }
  } */
  /* 
  Media query for laptops */
  /* @media screen and (min-width: 992px) and (max-width: 1199px) {
    .user-name h1 {
      font-size: 20px; /* Decrease font size for laptops */
    /* } */
  /* } */