@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #04243D;
    font-family: "Inter", "sans-serif";
}

header{
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
}

.page-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    padding: 0.6rem 0;
    background-color: #033c69;
    color: white;
}

.page-header div{
    padding: 0 0.6rem;
    display: flex;
    align-items: center;
}